@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #ff1c45;
  --color-secondary: #b4b4b4;
  --color-tertiary: #1f1f1f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fff;
  width: 100vw;
  height: 100vh;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen {
  background-color: #1e1e1e;
  width: 402px;
  height: 874px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
